@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#121212] text-white antialiased;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #2a2a2a #0a0a0a;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #0a0a0a;
}

*::-webkit-scrollbar-thumb {
  background-color: #2a2a2a;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #3a3a3a;
}
